### Problem 1

In [2]:
# Multiplication of 2 numbers
2 * 3

[1] 6

### Problem 2

In [3]:
# Subtraction
4 - 1

[1] 3

### Problem 3: assign value of 1 to variable "a"

In [5]:
a <- 1

In [6]:
a + 2

[1] 3

### Problem 4: Create a data frame

In [7]:
df = data.frame(Emp_Name = c("Jai", "David", "Michael"),
                Job_role = c("Manager", "Team Lead", "Developer")
                )

print(df)

  Emp_Name  Job_role
1      Jai   Manager
2    David Team Lead
3  Michael Developer